@import "src/App";

.DashboardPage {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  padding: $sizePaddingRegular;

  .page-splitter {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .in-between-splitter {
      height: 100%;
      width: 1px;
      background-color: $colorDark11;
      margin-left: $sizePaddingSmall;
      margin-right: $sizePaddingSmall;
    }
  }

}

.ConsoleTextarea {
  transition-duration: $durationTransitionNormal;
  @extend .roboto-100;
  color: $colorLight03;
  font-size: $sizeFontRegular;
  padding: $sizePaddingTiny $sizePaddingSmall;
  background-color: $colorDark08;
  outline: none;
  border: none;
  resize: none;
  border-radius: $sizeBorderRadiusSmall;
  width: 400px;
  height: 400px;
}